@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

/*App and Nav*/
:root {
    --fill-color: rgba(255,255,255,0.8);
    --stroke-color: white;
    --white: transparent;
    --active-color: rgb(38, 178, 229);
    --nav-width: 75px;
  }

* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
}

p {
    line-height: 1.5;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
    max-width: 1500px;
    width: fit-content;
    justify-content: center;
    /* align-items: center; */
}

#header {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

#header img {
    height: 100px;
    width: auto;
    border-radius: 50%;
    user-select: none;
}

#header h1, #header h2 {
    margin: 0px;
}

main > div {
    max-width: 700px;
    flex-grow: 1;
    /* width: 100%; */
    /* width: 700px; */
}

small {
    font-size: 80%;
}

p, li {
    font-family: sans-serif
}

p {
    margin: 15px 0px;
}

li {
    margin: 10px 0px 0px 0px;
    font-size: 90%;
}

body::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4 {
    margin: 10px 0px 0px 0px;
}

h1{
    font-size: 50px;
    font-weight: bold;
    padding: 0px;
}

h2{
    font-size: 30px;
    font-weight: normal;
    color: rgb(34, 34, 34);
}

h3 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(34, 34, 34);
}

h4 {
    font-size: 20px;
    font-weight: normal;
    color: rgb(34, 34, 34);
}


a {
    text-decoration: none;
    color: var(--active-color);
}